.idf-widget-container {
  width: 300px;
  min-height: 600px;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.idf-widget-container ul,
.idf-widget-container li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.idf-widget-container a {
  color: #404040;
  text-decoration: none;
}

body .idf-widget-container,
.idf-widget-container h1,
.idf-widget-container h2,
.idf-widget-container h3,
.idf-widget-container p {
  font-family: Roboto, sans-serif;
  color: #404040;
}

.idf-widget-container .articlesWidget__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.idf-widget-container .articlesWidget__header {
  font-size: 16px;
  font-weight: bold;
  color: #404040;
  margin: 10px 0 5px;
  display: inline-block;
  position: relative;
}

.idf-widget-container .articlesWidget__header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -8px;
  z-index: 2;
  background: #009cde;
}

.idf-widget-container .articlesWidget__articles {
  max-height: 650px;
  overflow: auto;
}

.idf-widget-container .article {
  padding: 10px;
  border-top: solid 2px #dddddd;
  position: relative;
  cursor: pointer;
}

.idf-widget-container .article:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  border: solid #009cde;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.2s, background-color 0.2s;
  transform: rotate(-45deg) translateY(-50%);
}

.idf-widget-container .article:hover {
  background-color: #f9f9f9
}

.idf-widget-container .article:hover:after {
  transform: rotate(-45deg) translateX(5px);
}

.idf-widget-container .article__title {
  font-family: Roboto;
  font-size: 16px;
  width: 250px;
  line-height: 1.25;
}

.idf-widget-container .article__publishedTime {
  display: block;
  font-size: 10px;
  line-height: normal;
  color: #848484;
  margin-top: 5px;
}

.idf-widget-container .articlesWidget__loadMore {
  margin: 10px 0;
  text-align: center;
}

.idf-widget-container .articlesWidget__loadMore button {
  width: 150px;
  height: 32px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #dddddd;
  font-family: Roboto;
  font-size: 14px;
  cursor: pointer;
}

.idf-widget-container .articlesWidget__loadMore button:focus {
  outline: none;
}

.idf-widget-container .articlesWidget__loadMore button:hover {
  border: 2px solid #b8b5b5;
}

.idf-widget-container .articlesWidget__text {
  margin-top: 20px;
  width: 280px;
}

.idf-widget-container .articlesWidget__text a {
  color: #009cde;
}
